<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">srumban</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">

      <div class="projects">
        <mat-form-field appearance="fill">
          <mat-label>Select project</mat-label>
          <mat-select (selectionChange)="changeProject($event)">
            <mat-option *ngFor="let project of allUserProjects" [value]="project">
              {{project.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="button-board-bar" >New project</button>
      <button mat-raised-button color="primary" class="button-board-bar" (click)="openTaskDialog()">New task</button>

    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of columns">

          <div class="column-title">
            {{ column.progress.name }}
          </div>

          <div class="tasks-container"
               cdkDropList
               [cdkDropListData]="column"
               (cdkDropListDropped)="drop($event)">

            <mat-card class="task" *ngFor="let task of column.tasks" cdkDrag>
              <mat-card-header>
                <mat-card-title>{{task.name}}</mat-card-title>

                <mat-card-subtitle>
                  {{task.users  | taskUsers}}
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <p> {{task.description}}</p>

                <p class="task-priority">
                  <b>Priority: </b>
                  <span [ngStyle]="{'color': task.priority > 1 ? 'red' : 'green'} ">
                    <ng-template [ngIf]="task.priority <= 0">Low</ng-template>
                    <ng-template [ngIf]="task.priority === 1">Medium</ng-template>
                    <ng-template [ngIf]="task.priority === 2">High</ng-template>
                    <ng-template [ngIf]="task.priority >= 3">Very high</ng-template>
                  </span>
                </p>
              </mat-card-content>

              <button mat-button>
                <mat-icon>edit</mat-icon>
                <!--                Edit-->
              </button>

              <button mat-button>
                <mat-icon>event_note</mat-icon>
                <!--                Notes-->
              </button>

              <div *ngIf="task.users  | taskUsers : user; else loggedUserIsNotInTaskUsers">
                <button mat-button (click)="dismissUserFromTask($event, task)">Dismiss</button>
              </div>

              <ng-template #loggedUserIsNotInTaskUsers>
                <button mat-button (click)="assignUserToTask($event, task)">Assign</button>
              </ng-template>

            </mat-card>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
