<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">srumban</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-bar">
      <p class="board-name">{{ project?.name }}</p>

      <div class="projects">
        <mat-form-field appearance="fill">
          <mat-label>Select project</mat-label>
          <mat-select (selectionChange)="changeProject($event)">
            <mat-option *ngFor="let project of allUserProjects" [value]="project">
              {{project.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <div class="board-wrapper">

      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of columns">

          <div class="column-title">
            {{ column.progress.name }}
          </div>

          <div class="tasks-container"
               cdkDropList
               [cdkDropListData]="column"
               (cdkDropListDropped)="drop($event)">
            <div class="task" *ngFor="let task of column.tasks" cdkDrag (click)="test(task)">
              {{ task.name + ': ' + task.description}}
              {{ task.project.name}}
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
