<div class="container">

  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon aria-label="Close comments dialog">close</mat-icon>
  </button>

  <h1 mat-dialog-title>Task: {{task.name}}</h1>
  <h3 style="margin-bottom: 1em">Comments</h3>

  <div mat-dialog-content class="comments-container">

    <mat-card class="comment" *ngFor="let comment of allComments">
      <mat-card-header>

        <mat-card-title style="word-break: break-word;">{{comment.user.name}}</mat-card-title>

        <mat-card-subtitle>
          {{comment.localDateTime | commentLocalDateTime}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p> {{comment.commentText}}</p>
      </mat-card-content>
    </mat-card>

  </div>

  <div mat-dialog-actions class="actions-container">

    <mat-form-field class="field-textarea">
      <mat-label>Your comment</mat-label>
      <textarea matInput
                [(ngModel)]="commentText"
                name="commentTextArea"
                #commentTextArea="ngModel"
                rows="5"
                required minlength="1" maxlength="900"
                placeholder="Write a comment">
        </textarea>
    </mat-form-field>

    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button color="primary" (click)="postComment()" [disabled]="commentTextArea.invalid">
      Post
    </button>
  </div>

</div>
