.container {
  padding: 10px 10px;
  height: 100%;
}

.comments-container {
  display: inline-block;
  max-height: calc(90vh - 280px);
}

.comment {
  margin-bottom: 25px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.comment:last-child {
  margin-bottom: 10px;
}

.close-button {
  float: right;
}

.field-textarea {
  width: 100%;
}

.actions-container {
  min-height: 120px;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.break-word {
  overflow-wrap: break-word;
}
