.container {
  padding: 5px 5px;
  height: 100%;
  width: 100%;
}

.comments-container {
  display: inline-block;
  max-height: calc(90vh - 280px);
  width: 100%;
  margin: 0;
  padding: 0 15px 0 0;

  .comment {
    margin-bottom: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 100%;

    p {
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}

.comment:last-child {
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.field-textarea {
  width: 100%;
}

.actions-container {
  min-height: 120px;
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}
