.container {
  padding: 10px 10px;
}

.comments-container {
  display: inline-block;
  height: 50vh;
}

.comment {
  margin-bottom: 25px;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.comment:last-child {
  margin-bottom: 10px;
}

.close-button {
  float: right;
}

.field-textarea {
  width: 100%;
}

.actions-container {
  display: inline-block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}
