<div class="container">

  <h1 mat-dialog-title>Edit task</h1>

  <div mat-dialog-content>
    <mat-form-field class="field-block" style="width: 60%;">
      <mat-label>Name</mat-label>
      <input matInput
             [(ngModel)]="task.name"
             name="taskName"
             #taskName="ngModel"
             required minlength="3" maxlength="20"
      />
    </mat-form-field>

    <mat-form-field class="field-block" style="width: 100%;">
      <mat-label>Description</mat-label>
      <textarea matInput style="overflow:hidden;"
                [(ngModel)]="task.description"
                name="taskDescription"
                #taskDescription="ngModel"
                cdkTextareaAutosize
                cdkAutosizeMinRows="7"
                cdkAutosizeMaxRows="12"
                maxlength="900">
      </textarea>
    </mat-form-field>

    <mat-form-field class="field-block">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="task.priority">
        <mat-option *ngFor="let priority of allPriority" [value]="priority.value">
          {{priority.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-block">
      <mat-label>Column</mat-label>
      <mat-select [(ngModel)]="task.columnId" disabled>
        <mat-option [value]="task.columnId">
          {{task.columnName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-block">
      <mat-label>Started date</mat-label>
      <input matInput [matDatepicker]="pickerStartedDate" [(ngModel)]="taskStartedDate" [disabled]="true">
      <mat-datepicker-toggle matSuffix [for]="pickerStartedDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartedDate></mat-datepicker>
    </mat-form-field>

    <div *ngIf="task.finishedLocalDate" class="field-block">
      <mat-form-field *ngIf="task.finishedLocalDate">
        <mat-label>Finished date</mat-label>
        <input matInput [matDatepicker]="pickerFinishedDate" [(ngModel)]="taskFinishedDate" [disabled]="true">
        <mat-datepicker-toggle matSuffix [for]="pickerFinishedDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinishedDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="user-table" *ngIf="this.task.users.length > 0">
      <div style="margin-bottom: 15px; text-align: center; font-weight: 500;">
        <mat-label>Assigned users</mat-label>
      </div>
      <table mat-table [dataSource]="this.dataSource" matSort style="width: 100%">

        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!taskName.valid">Submit</button>
  </div>

</div>
