.container {
  min-width: 350px;
  padding: 5px 10px 20px;
}

.field-block {
  width: 60%;
  display: block;
  padding-bottom: 5px
}

.user-table {
  display: block;
  width: 400px;
  margin-bottom: 40px;
}
