<div class="container">

  <h1 mat-dialog-title>Update Task</h1>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput
             [(ngModel)]="task.name"
             name="taskName"
             #taskName="ngModel"
             required minlength="3" maxlength="20"
      />
    </mat-form-field>

    <br>
    <mat-form-field style="width: 250px;">
      <mat-label>Description</mat-label>
      <textarea matInput
                [(ngModel)]="task.description"
                name="taskDescription"
                #taskDescription="ngModel"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="15">
                maxlength="900">
      </textarea>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="task.priority">
        <mat-option *ngFor="let priority of allPriority" [value]="priority.value">
          {{priority.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Progress</mat-label>
      <mat-select [(ngModel)]="task.progress">
        <mat-option *ngFor="let progress of allProgress" [value]="progress.name">
          {{progress.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Creation date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="taskStartedDate" [disabled]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!taskName.valid">Submit</button>
  </div>

</div>
