/* You can add global styles to this file, and also import other style files */

@import 'main-styles.scss';
@import '../node_modules/bulma/bulma.sass';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

/* GLOBAL STYLES */
html, body {
  height: 100%;
}

html {
  background-color: #2a93be;
  overflow-y: auto !important;
}
