<div class="container">

  <h1 mat-dialog-title class="header-title">{{project.name}}</h1>

  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Statistics">
      <app-stats-chart [project]="project">
      </app-stats-chart>
    </mat-tab>
    <mat-tab label="Cumulative flow diagram">
      <app-stats-cumulative [project]="project">
      </app-stats-cumulative>
    </mat-tab>
  </mat-tab-group>

  <button mat-icon-button class="close-button" (click)="closeDialog()">
    <mat-icon aria-label="Close statistics dialog">close</mat-icon>
  </button>

</div>
