.container {
  width: 70vw;
  max-height: 90vh;
  overflow-y: auto;
}

.header-title {
  text-align: center;
  margin-bottom: 5px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.chart {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.buttons-container {
  margin-top: 15px;
}

.button {
  font-size: 14px;
  margin: 0 10px;
}
