.container {
  width: 450px;
  padding: 5px 10px 20px;
}

.field-block {
  width: 50%;
  display: block;
  padding-bottom: 5px
}

.user-table {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.delete-project-button {
  margin-top: 20px;
  margin-bottom: 25px;
}
