.container {
  padding: 15px;
  text-align: center;
  white-space: pre-line;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-action {
  margin: 0 20px;
}
